**Objectives:**

Calculate the customer lifetime value for different segments of customers.

Identify the most valuable customer segments.

Develop personalized marketing strategies to increase customer retention and maximize CLV.

Lógica:
Importar base  
Visualizar base  
Tratar base removendo duplicatas e valores vazios  
Tratar a questão de datas  
Criar colunas necessárias para calculo de CLV  
Descobrir o CLV  
Criar segmentações a partir do CLV  
Desenvolver estratégias de marekting para reter e maximizar o cliente.

In [199]:
import pandas as pd
import numpy as np
from datetime import date

# Visualizando dataframe
# (81601, 10)

   #Unnamed: 0   81601 non-null  int64  
   #InvoiceNo    81601 non-null  object 
    #StockCode    81601 non-null  object 
    #Description  81601 non-null  object 
    #Quantity     81601 non-null  int64  
    #UnitPrice    81601 non-null  float64
    #CustomerID   81601 non-null  float64
    #Country      81601 non-null  object 
    #Date         81601 non-null  object 
    #Hour         81601 non-null  int64  

# Colunas: InvoiceNo - StockCode - Description - Quantity - UnitPrice - CustomerID - Country - Date - Hour

df = pd.read_csv('Ecommerce_Data-1.csv')
df = df[df['Quantity']>0]

df.head()

,Unnamed: 0,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,Date,Hour
0,439570,574477,22591,CARDHOLDER GINGHAM CHRISTMAS TREE,1,3.25,15453.0,United Kingdom,2011-11-04,12
1,387281,570275,23541,WALL ART CLASSIC PUDDINGS,12,7.45,13098.0,United Kingdom,2011-10-10,10
2,337863,566482,22508,DOORSTOP RETROSPOT HEART,12,3.75,16609.0,United Kingdom,2011-09-13,9
3,57628,541215,22662,LUNCH BAG DOLLY GIRL DESIGN,10,1.65,14329.0,United Kingdom,2011-01-14,13
4,330897,565930,POST,POSTAGE,5,18.00,12685.0,France,2011-09-08,10

In [200]:
#Tratando os dados

df1 = df.drop(columns="Unnamed: 0")
df1['CustomerID'] = df1['CustomerID'].astype(object)

#4111 Clientes no dataframe

#df1['CustomerID'].value_counts()

#Convertendo Date para dtype=Datetime
df1['Date'] = pd.to_datetime(df['Date'])

df1 = df1.dropna()

df1['Total_Revenue'] = df1['Quantity']*df1['UnitPrice']

CustomerID
17841.0    1564
14911.0    1156
14096.0    1018
12748.0     947
14606.0     543
           ...
16781.0       1
15597.0       1
12897.0       1
17958.0       1
12522.0       1
Name: count, Length: 4094, dtype: int64

In [204]:
#Segregando por clientes cada informação necessária para calcular seu CLV

df2 = df1.groupby('CustomerID').agg(
    Last_Sale =('Date', 'max'),
    LifeCycle =('Date', lambda x: x.max() - x.min()),
    Quantity = ('Quantity', 'sum'),
    Total_Revenue = ('Total_Revenue', 'sum'),
    Orders = ('InvoiceNo', 'nunique'))

df2['LifeCycle'] = df2['LifeCycle'].dt.days.astype('int32') #divido por meses

df2['Average_Ticket'] = df2['Total_Revenue']/df2['Orders']
df2['Average_Orders_Period']= df2['Orders']/df2['LifeCycle']
df2['CLV'] = df2['Average_Ticket']*df2['LifeCycle']*df2['Average_Orders_Period']

df2['CLV'].describe()

count     2515.000000
mean       622.455181
std       2093.266508
min          3.900000
25%        135.685000
50%        268.580000
75%        546.975000
max      51732.280000
Name: CLV, dtype: float64

In [218]:
df3 = df2.sort_values(by='CLV',ascending=0)

#Temos 1579 clientes da base que fizeram apenas uma compra ou 38,5% da base
compra = df3['CLV'].isna().sum()/4094
compra

0.38568637029799707

In [230]:
def status_cliente(valor):
    if pd.notna(valor):  # Verifica se o valor não é NaN
        if valor <= 0:
            return 'Baixíssimo Retorno - MicroPulverizado'
        elif valor <= 136: 
            return 'Baixo Retorno - MicroPulverizado'
        elif valor <= 600:
            return 'Médio Retorno - Pulverizado'
        elif valor <= 1500:
            return 'Médio/Alto Retorno - Pulverizado'
        elif valor <= 10000:
            return 'Alto Retorno - Grandes Clientes B'
        elif valor <= 30000:
            return 'Grandes Clientes A - Grandes Clientes A'
        else:
            return 'Valor acima de 52000 - Categoria Especial'
    else:
        return 'Primeira Compra'
    
    
df2['Status'] = df2['CLV'].apply(status_cliente)

df2

,Last_Sale,LifeCycle,Quantity,Total_Revenue,Orders,Average_Ticket,Average_Orders_Period,CLV,Status
CustomerID,,,,,,,,,
12347.0,2011-12-07,365,623,1146.59,7,163.798571,0.019178,1146.59,Médio/Alto Retorno - Pulverizado
12348.0,2011-09-25,283,531,550.92,4,137.730000,0.014134,550.92,Médio Retorno - Pulverizado
12349.0,2011-11-21,0,203,406.32,1,406.320000,inf,NaN,Primeira Compra
12350.0,2011-02-02,0,36,45.60,1,45.600000,inf,NaN,Primeira Compra
12352.0,2011-11-03,260,163,663.33,6,110.555000,0.023077,663.33,Médio/Alto Retorno - Pulverizado
...,...,...,...,...,...,...,...,...,...
18280.0,2011-03-07,0,9,52.75,1,52.750000,inf,NaN,Primeira Compra
18281.0,2011-06-12,0,11,33.45,1,33.450000,inf,NaN,Primeira Compra
18282.0,2011-12-02,119,11,67.85,2,33.925000,0.016807,67.85,Baixo Retorno - MicroPulverizado
18283.0,2011-12-06,334,240,325.54,14,23.252857,0.041916,325.54,Médio Retorno - Pulverizado
18287.0,2011-10-12,143,284,364.96,2,182.480000,0.013986,364.96,Médio Retorno - Pulverizado